*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.animate-shake {
  animation: shake 0.2s;
  animation-iteration-count: forwards;
}

@keyframes shake {
  0% {
    transform: translateX(2px) rotateX(0deg);
  }
  10% {
    transform: translateX(-2px) rotateX(-2deg);
  }
  20% {
    transform: translateX(-4px) rotateX(2deg);
  }
  30% {
    transform: translateX(4px) rotateX(1deg);
  }
  40% {
    transform: translateX(2px) rotateX(2deg);
  }
  50% {
    transform: translateX(-2px) rotateX(-2deg);
  }
  60% {
    transform: translateX(-4px) rotateX(2deg);
  }
  70% {
    transform: translateX(4px) rotateX(-2deg);
  }
  80% {
    transform: translateX(-2px) rotateX(2deg);
  }
  90% {
    transform: translateX(2px) rotateX(1deg);
  }
  100% {
    transform: translateX(0) rotateX(-0);
  }
}

